
@{
    ViewBag.Title = "Contact";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_styles.css")" />
}

<div class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <h2>Thank you for contacting us. We will respond ASAP.</h2>
</div>
</div>
</div>