
@{
    ViewBag.Title = "Contact failed";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_styles.css")" />
}

<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="alert alert-danger col-md-12" role="alert">
                Contact e-mail address is not set!
            </div>
        </div>
    </div>
</div>
