@model OnlineShop.Models.Counter

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/shared_styles.css")" />
}

<div class="top_bar_contact_item"><h5>Visits: @Model.counter </h5></div>
