
@{
    ViewBag.Title = "Administration Panel";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/admin_styles.css")" />
}

<div class="admin_panel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Administration Panel</li>
                    </ol>
                </nav>
                <h2>Administration panel</h2>
                <hr />
            </div>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.ActionLink("Manage products", "Index", "Product")</li>
                    <li class="list-group-item">@Html.ActionLink("Manage categories", "Index", "Category")</li>
                    <li class="list-group-item">@Html.ActionLink("Manage users", "Index", "User")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
