@model IEnumerable<OnlineShop.Models.Product>

@{
    ViewBag.Title = "Administration Panel";
}

@if (User.IsInRole("Admin"))
{
    <div class="col-md-12">
        <h2>Administration Panel</h2>
        <ul style="list-style-type:square;">
            <li>@Html.ActionLink("Manage products", "Index_admin", "Products")</li>
            <li>@Html.ActionLink("Manage categories", "Admin_Index", "Categories")</li>
            <li>@Html.ActionLink("Manage users", "Index", "ExtendUser")</li>
        </ul>
    </div>
}