@model IEnumerable<OnlineShop.Models.Category>

@helper DisplayCategoriesTree(IEnumerable<OnlineShop.Models.Category> categories)
{
    <ul class="sidebar_categories">
        @foreach (var category in categories)
        {
            <li>
                @Html.ActionLink(category.name, "Details", "Categories", new { id = category.Id }, null)
                @{
                    var children = Model.Where(c => c.parent == category).OrderBy(c => c.Id);

                    if (children.Count() > 0)
                    {
                        <div class="subcategories">
                            @DisplayCategoriesTree(children)
                        </div>
                    }
                }
            </li>
                    }
    </ul>
}

@DisplayCategoriesTree(Model.Where(c => c.parent == null).OrderBy(c => c.Id))


